[tool.poetry]
name = "tdp-lib"
version = "0.0.1"
description = "TDP library for TDP Manager"
authors = ["Xavier Hermand <diode-hermand.consultant@dgfip.finances.gouv.fr>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/TOSIT-FR/tdp-lib"
repository = "https://github.com/TOSIT-FR/tdp-lib"
documentation = "https://github.com/TOSIT-FR/tdp-lib"
packages = [{ include = "tdp" }]
exclude = ["tdp/devtools"]

[tool.poetry.dependencies]
python = ">=3.6.2,<4.0"
ansible = "2.9.27"
networkx = "2.5.1"
PyYAML = "6.0"
matplotlib = { version = "3.3.4", optional = true }
pydot = { version = "1.4.2", optional = true }
GitPython = "3.1.18"
SQLAlchemy = "^1.4.31"

[tool.poetry.dev-dependencies]
pytest = "6.2.5"
black = "21.12b0"
poetry-githooks = "1.1.4"
tabulate = "0.8.9"

[tool.poetry.extras]
visualization = ["matplotlib", "pydot"]

[tool.poetry.scripts]
dag = "tdp.devtools.dag_debug:debug_dag"
tdp = "tdp.devtools.run:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ['py36']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.venv
    | venv
    | _build
    | build
    | dist
  )/
)
'''

[tool.githooks]
pre-commit = "black --check tdp"
