[tool.poetry]
name = "tdp-lib"
version = "0.0.1"
description = "TDP library for TDP Manager"
authors = ["Xavier Hermand <diode-hermand.consultant@dgfip.finances.gouv.fr>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/TOSIT-FR/tdp-lib"
repository = "https://github.com/TOSIT-FR/tdp-lib"
documentation = "https://github.com/TOSIT-FR/tdp-lib"
packages = [{ include = "tdp" }]

[tool.poetry.dependencies]
python = ">=3.6.2,<4.0"
ansible = "2.9.27"
networkx = "2.5.1"
PyYAML = "<6.0.0"
matplotlib = { version = "3.3.4", optional = true }
pydot = { version = "1.4.2", optional = true }
GitPython = "3.1.18"
SQLAlchemy = "^1.4.31"
click = "8.0.4"
tabulate = "0.8.9"
Sphinx = {version = "4.5.0", optional = true}
sphinx-markdown-builder = {version = "0.5.5", optional = true}

[tool.poetry.dev-dependencies]
pytest = "6.2.5"
black = "21.12b0"
poetry-githooks = "2.0.0"
isort = "4.3.21"
taskipy = "1.10.1"

[tool.poetry.extras]
docs = ["Sphinx", "sphinx-markdown-builder"]
visualization = ["matplotlib", "pydot"]

[tool.poetry.scripts]
tdp = "tdp.cli.__main__:tdp"

[tool.taskipy.variables]
docs_path = "docs"

[tool.taskipy.tasks]
docs-generate = {cmd = "sphinx-apidoc --output-dir {docs_path} --module-first --doc-project TDP --doc-author TOSIT --full --force tdp '*test*'", use_vars = true}
docs-clean = {cmd = "make -C {docs_path} clean", use_vars = true}
docs-html = {cmd = "make -C {docs_path} html", use_vars = true}
docs-markdown = {cmd = "make -C {docs_path} markdown", use_vars = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ['py36']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.venv
    | venv
    | _build
    | build
    | dist
  )/
)
'''

[tool.githooks]
pre-commit = "isort --recursive --check-only tdp && black --check tdp"

[tool.isort]
src_paths = ["tdp"]
force_single_line = false
known_first_party = "tdp"
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
